* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 0.5em;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
}

.current-library {
    background-color: white;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));  
    gap: 3rem;
}

.book-card {
    background-color: rgb(254, 255, 238);
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-align: end;
    justify-content: center;

    height: 15rem;
    width: 10rem;
    padding: 1em;
    border: 0.1rem solid black;
    border-radius: 0.25rem 1rem 1rem 0.25rem;
    box-shadow: 10px 5px 5px rgb(164, 164, 164);

    transition: all 100ms ease-in-out;
}

.book-card:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
    transition: all 100ms ease-in-out;
}

.delete-button {
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background-color: rgb(247, 129, 129);
    width: 1.25rem;
    height: 1.25rem;
    border: none;
    border-radius: 50%;
    /* padding: 1rem; */
    justify-self: flex-start;
    align-self: flex-end;

    transition: all 100ms ease-in-out;
}

.book-card:hover .delete-button {
    opacity: 1;
    transition: all 100ms ease-in-out;
}

.delete-button:hover {
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(255, 159, 159);
}

.delete-button:active {
    background-color: rgb(249, 86, 86);
    transform: scale(0.95);
    transition: all 100ms ease-in-out;
}

.container-add-book-form {
    background-color: rgb(121, 175, 255);
    padding: 1.75rem;
    box-shadow: -5px 0px 5px rgb(164, 164, 164);
}

.add-book-form {
    display: flex;
    flex-flow: column;
    gap: 0.3rem;
}

.add-book-form input[type="text"], .add-book-form select {
    border: none;
    padding: 0.25rem;
    border-radius: 2rem;
}

.add-book-form input[type="submit"] {
    color: white;
    background-color: blue;
    border: none;
    align-self: center;
    width: 8rem;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 2rem;
    transition: all 100ms ease-in-out;
}

.add-book-form input[type="submit"]:hover {
    background-color: rgb(32, 32, 252);
    border: 2px solid white;
    cursor: pointer;
    transform: scale(1.05, 1.0);
    transition: all 100ms ease-in-out;
}

.add-book-form input[type="submit"]:active {
    background-color: rgb(0, 0, 158);    
    cursor: pointer;
    transform: scale(0.95, 0.95);
    transition: all 100ms ease-in-out;
}