@font-face {
    font-family: 'Aleo';
    src: url('fonts/Aleo-Regular.woff2') format('woff2'),
        url('fonts/Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Google Fonts Material Symbols settings */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Aleo", sans-serif;
}

dialog {    
    margin: auto;
    border: none;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 3px 5px 8px rgb(56, 56, 56);
    background-color: rgba(28, 28, 28, 0.8);
    color: white;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}

dialog p {
    margin-bottom: 1rem;
}


dialog button {
    color: white;
    border: 2px solid transparent;
    border-radius: 2rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    transition: all 100ms ease-in-out;
}

dialog button:hover {
    border: 2px solid white;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

#confirm-delete {
    background-color: rgb(57, 122, 57);
}

#cancel-delete {
    background-color: rgb(134, 27, 27);
}

#confirm-delete:active {
    background-color: rgb(77, 168, 77);
}

#cancel-delete:active {
    background-color: rgb(189, 38, 38);
}

h1 {
    text-align: center;
    /* text-decoration: underline; */
    padding-bottom: 0.5em;
}

.container {
    display: grid;
    min-height: 100vh;
    width: 100%;
}

/* library stuff */

.current-library {
    background-color: white;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));  
    gap: 3rem;
}

.book-card {
    background-color: rgb(254, 255, 238);
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-align: end;
    justify-content: center;

    height: 15rem;
    width: 10rem;
    padding: 1em;
    border: 0.1rem solid black;
    border-radius: 0.25rem 1rem 1rem 0.25rem;
    box-shadow: 10px 5px 5px rgb(164, 164, 164);

    z-index: 1;
    transform-style: preserve-3d;

    transition: all 100ms ease-in-out;
}

.status-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    bottom: 6%;
    left: 85%;

    transform: translateZ(-1px);
    z-index: -1;
    

    transition: all 100ms ease-in-out;   
}

.status-btn {
    background-color: black;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    color: rgb(168, 165, 165);
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.status-btn.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-size: 0.9rem;
}

.status-btn.active {
    color: rgb(255, 243, 110);
}

.status-btn:hover {
    color: rgb(213, 252, 253);
}

.book-card:hover {
    background-color: black;
    box-shadow: none;
    color: white;
    transform: scale(1.05);
    transition: all 100ms ease-in-out;
}

.book-card:hover .status-sidebar {
    transform: translateX(1.35rem);
    transition: transform 250ms ease-in-out 150ms;
}

.delete-button {
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background-color: rgb(247, 129, 129);
    width: 1.25rem;
    height: 1.25rem;
    border: none;
    border-radius: 50%;
    /* padding: 1rem; */
    justify-self: flex-start;
    align-self: flex-end;

    transition: all 100ms ease-in-out;
}

.book-card:hover .delete-button {
    opacity: 1;
    transition: all 100ms ease-in-out;
}

.delete-button:hover {
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(255, 159, 159);
}

.delete-button:active {
    background-color: rgb(249, 86, 86);
    transform: scale(0.95);
    transition: all 100ms ease-in-out;
}



/* form stuff */

.container-add-book-form {
    position: fixed;
    height: 100vh;
    left: 99.8%;

    background-color: rgb(121, 175, 255);
    padding: 1.75rem;
    box-shadow: -5px 0px 5px rgb(164, 164, 164);

    z-index: 1000;
    transition: all 300ms ease-in-out;
}

.container-add-book-form.open {
    transform: translateY(0%) translateX(-97%);
}

.toggle-form-btn {
    position: absolute;
    left: -40px;
    top: 45%;
    width: 40px;
    height: 40px;

    background-color: rgb(121, 175, 255);
    border: none;
    border-radius: 5px 0 0 5px;
}

.add-book-form {
    display: flex;
    flex-flow: column;
    gap: 0.3rem;
}

.add-book-form input[type="text"], .add-book-form select {
    border: none;
    padding: 0.25rem;
    border-radius: 2rem;
}

.add-book-form input[type="submit"] {
    color: white;
    background-color: blue;
    border: none;
    align-self: center;
    width: 8rem;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 2rem;
    transition: all 100ms ease-in-out;
}

.add-book-form input[type="submit"]:hover {
    background-color: rgb(32, 32, 252);
    border: 2px solid white;
    cursor: pointer;
    transform: scale(1.05, 1.0);
    transition: all 100ms ease-in-out;
}

.add-book-form input[type="submit"]:active {
    background-color: rgb(0, 0, 158);    
    cursor: pointer;
    transform: scale(0.95, 0.95);
    transition: all 100ms ease-in-out;
}